.EZ_background {
	background-color:rgb(239, 232, 216);
}

.EZ_navbar {
	background-color:rgb(166, 20, 20);
	color:white;
	width:100%;
	text-align: center;
	position: relative;
}

/* .EZ_fontstyle {
font-family: Ubuntu;
} */

.EZ_logincontainer {
	outline: 1px solid grey;
	width: 40%;
	position:relative;
	float: left;
	margin:10px;
	padding:20px;
	left:30%;
}